.dropdown-menu {
    width: 250px !important;
}

.input {
    margin-right: 2%;
}

body {
    padding-top: 70px;
    position: absolute;
    left: 2%;
    right: 2%;
}

.sample-text {
    left: 25%;
}

.float-left {
    float: left;
    margin-right: 1%;
}