.searchBar {

	width:50%;
	height:100%;
	display: block;

}
input[type=text] {
	top:10px;
	left:32%;
	width:30%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	font-size: 16px;
	position:absolute;
}
